- content_for :stylesheets do
  = stylesheet_link_tag 'users-show'

%h1
  = "#{@user.twitter_name}'s twitterverse"

#loadable

  .ajax_wrapper
    - if @user.no_twitter_account
      No Twitter account matches this user.
    - if @user.loading?
      #ajax-loading
        = image_tag "gc-ajax-loader.gif"
        Loading . . .

    .box
      .content
        %h2 Top domains
        %ol
          - for domain in @popular_domains
            - next unless domain && domain.name
            %li.title= link_to(domain.name, domain_path(domain.name.try(:gsub, '.', '_'))) 

    .box.push2
      .content
        %h2 Top connections
        %ol
          - for friend in @friends
            %li.title= link_to friend.twitter_name, user_path(friend.twitter_name)

    .box.last.push2
      .content
        %h2 Top tags
        %ol
          - for tag in @tags
            %li.title= link_to tag.tag, tag_path(tag.tag.gsub('#', ''))

    .clear
    .big-box
      .content
        %h2= "Top links from #{@user.twitter_name}'s network"
        %table
          - for link in @friend_links
            %tr
              %td
                .linkages_count= link.qty
              %td
                .title= link_to((link.page_title || link.url), link.url)
                .users_list= Linkage.find_all_by_link_id(link.id, :include => :user).map { |l| link_to l.user.twitter_name, user_path(l.user.twitter_name) }.join(', ')
        
    .big-box
      .content
        %h2= "Recent links by #{@user.twitter_name}"
        %table
          - for link in @user_links
            %tr
              %td
                .linkages_count= link.linkages.count
              %td
                .title= link_to((link.page_title || link.url), link.url)
                .users_list= link.linkages.map { |l| link_to l.user.twitter_name, user_path(l.user.twitter_name) }.join(', ')



    -#
      %h2 videos
      - for youtube_link in @youtube_links
        = youtube_embed(youtube_link.url)

- content_for :js_libraries do
  = javascript_include_tag "regular_reload"

- content_for :js_init do
  var reloader;

- content_for :js_ready do
  :plain
    if($('#ajax-loading').size()> 0) {
      reloader = setInterval( function() { reload_content( "#loadable", location.href + " .ajax_wrapper" ) }, 5000 );
    }
