= stylesheet_link_tag 'users-show'
%h1
  Most Popular:
  = link_to @user.twitter_name, "http://twitter.com/#{@user.twitter_name}"

%h2 recent links
%table
  - for link in @user_links
    %tr
      %td
        .linkages_count= link.linkages.count
      %td
        .domain= link.domain
        .title= link_to((link.page_title || link.url), link.url)
        .users_list= link.linkages.map { |l| link_to l.user.twitter_name, user_path(l.user.twitter_name) }.join(', ')

%h2 popular links from friends
%table
  - for link in @links
    %tr
      %td
        .linkages_count= link.n
      %td
        .domain= link.domain
        .title= link_to((link.page_title || link.url), link.url)
        .users_list= Linkage.find_all_by_link_id(link.id).map { |l| link_to l.user.twitter_name, user_path(l.user.twitter_name) }.join(', ')

%h2 popular domains
%table
  - for domain in @popular_domains
    %tr
      %td
        .linkages_count= domain.n
      %td
        .title= domain.domain

-#
  %h3 friends
  %table
    - for friend in @friends
      %tr
        %td= friend.twitter_name
        %td= friend.twitter_followers_count


%h2 videos
