- content_for :stylesheets do
  = stylesheet_link_tag 'users-show'

%h1
  Most Popular:
  = link_to @user.twitter_name, "http://twitter.com/#{@user.twitter_name}"
  - form_tag user_path(@user), :method => :put do
    = submit_tag "Reload"

#loadable

  .ajax_wrapper
    - if @user.no_twitter_account
      No Twitter account matches this user.
    - if @user.loading?
      #ajax-loading
        = image_tag "gc-ajax-loader.gif"
        Loading . . .

    %h2 recent links
    %table
      - for link in @user_links
        %tr
          %td
            .linkages_count= link.linkages.count
          %td
            .domain= link.domain_name
            .title= link_to((link.page_title || link.url), link.url)
            .users_list= link.linkages.map { |l| link_to l.user.twitter_name, user_path(l.user.twitter_name) }.join(', ')

    %h2 popular links from friends
    %table
      - for link in @friend_links
        %tr
          %td
            .linkages_count= link.qty
          %td
            .domain= link.domain_name
            .title= link_to((link.page_title || link.url), link.url)
            .users_list= Linkage.find_all_by_link_id(link.id, :include => :user).map { |l| link_to l.user.twitter_name, user_path(l.user.twitter_name) }.join(', ')

    %h2 popular domains
    %table
      - for domain in @popular_domains
        %tr
          %td
            .linkages_count= domain.qty
          %td
            .title= link_to(domain.name, domain_path(domain.name.try(:gsub, '.', '_'))) if domain.name

    -#
      %h3 friends
      %table
        - for friend in @friends
          %tr
            %td= friend.twitter_name
            %td= friend.twitter_followers_count


    %h2 videos
    - for youtube_link in @youtube_links
      = youtube_embed(youtube_link.url)

- content_for :js_libraries do
  = javascript_include_tag "regular_reload"

- content_for :js_init do
  var reloader;

- content_for :js_ready do
  :plain
    if($('#ajax-loading').size()> 0) {
      reloader = setInterval( function() { reload_content( "#loadable", location.href + " .ajax_wrapper" ) }, 5000 );
    }
