%html
  %head
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = stylesheet_link_tag 'application', :media => 'screen, projection'
    = yield :stylesheets

  %body.blueprint
    #header.container
    #main.container
      #flash
        - if flash[:notice]
          .notice
            = flash[:notice]
        - if flash[:error]
          .error
            = flash[:error]

      = yield
    #footer.container


    = javascript_include_tag 'jquery-1.3.2.min.js'
    = yield :js_libraries
    - javascript_tag do
      = yield :js_init
      $(function() {
      = yield :js_ready
      });
